{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {#     <h1 class="display-5">Inscription</h1>

    {{ form_start(registrationForm, {attr: {class: 'mashco'}}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les CGU'
        }) }}
    <label>
        <input type="checkbox" name="_remember_me" checked/>
        Rester connecté grâce à un cookie
    </label>


    <button type="submit" class="btn btn-primary d-block mt-3">S'inscrire</button>
    {{ form_end(registrationForm) }}

 #}

    <section>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6 card">

                    <div class="row">
                        <div class="col text-center">
                            <h1>Inscription</h1>
                            <p class="text-h3"></p>
                        </div>
                    </div>

                    <div class="row align-items-center mt-4">
                        <div class="col">
                            {# {{ form_start(registrationForm, {attr: {class: 'mashco'}}) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }} #}
                        </div>
                    </div>

                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <div class="form-check">
                                {# {{ form_row(registrationForm.agreeTerms, {
                        label: 'Accepter les CGU'
                        }) }} #}
                            </div>
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" name="_remember_me" checked="checked"/>
                                    Rester connecté grâce à un cookie
                                </label>
                            </div>

                            <div class="form-check">
                                <button type="submit" class="btn btn-primary d-block mt-3">S'inscrire</button>
                                {# {{ form_end(registrationForm) }} #}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="extra-space-l"></div>

{% endblock %}