<footer class="page-footer bg-charte-terre">
    
    
    <div class="container">

            <div class="row">



                    <div class="col-6">
                        <div class="footer-logo">
                            <div class="footer-social"> 

                                <h4>RETROUVEZ MOI SUR</h4> 
                                 <div class="d-inline-block social-links">
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/Facebook-logo.png') }}" alt="">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/instagram-logo.png') }}" alt="" width="40px" height="40px">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/Pinterest-logo.png') }}" alt="">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/youtube-logo.png') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    
                    
                    
                    
                    </div>
                </div>

                <div class="row justify-content-center" style="border-top: 1px solid #000;margin:4% 0px">
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Aide</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Questions fréquentes</a></li>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{{ path('app_main') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
               
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="titrefoot-slot">
                        <h4>A propos de nous</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Notre Histoire</a></li>
                            <li><a href="#">Rapport Annuel</a></li>
                            <li><a href="#">Centre de presse</a></li>
                            <li><a href="#">Carrières</a></li>
                        </ul>
                    </div>
                   
                    <div class="d-inline-block copyright">
                        <img height="80" width="100" src="{{asset('img/logoqd.jpg')}}" alt=""><br>
                        <p class="d-inline-block text-center">Quentin Drumel - Blog Projet Simplon - Copyright © 2022. Tout droit compris.</p>
                    </div>
      </div>
      
      
  </div>
  </footer>

