<footer class="page-footer bg-light">
    
    
    <div class="container">

            <div class="row ">



                    <div class="col-6">
                        <div class="footer-logo align-item-center">
                            <div class="footer-social"> 

                                <h4>RETROUVEZ MOI SUR</h4> 
                                 <div class="d-inline-block social-links">
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/github.png') }}" alt="">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/linkedin.png') }}" alt="">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/social_facebook.png') }}" alt="">
                                    </div>
                                    {# <div class="d-inline-block item">
                                        <img src="{{ asset('img/youtube-logo.png') }}" alt="">
                                    </div> #}
                                </div>
                            </div>
                        </div>
                    </div>




                    
                    
                    
                    
                    </div>
                </div>

                <div class="row justify-content-center" style="border-top: 1px solid #000;margin:4% 0px">
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Navigation</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Projets</a></li>
                            <li><a href="#">Catégories</a></li>
                            <li><a href="{{ path('app_main') }}">A propos de moi</a></li>
                            <li><a href="{{ path('app_main') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
               
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="titrefoot-slot">
                        <h4>A propos de moi</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Contactez-moi</a></li>
                            <li><a href="#">A propos de moi</a></li>
                            
                        </ul>
                    </div>
                   
      </div>
      
      
  </div>
  </footer>


   <section class="bande-mention bg-charte-terre">
      
        <div style="height:7vh" class="row align-items-center">
             

            <div>
                <a class="text-light" href="">
                    <p class="text-dark text-center">Quentin Drumel - Blog Projet Simplon - Copyright © 2022. Tout droit compris.</p>
                </a>   
           </div> 

        </div>
                         
   </section>

