{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

<div class="extra-space-l"></div>
    <div class="container">
        <h2 class="mont text-center">{{ article.title }}</h2>
        <img
                class="aspect__img text-center"
                src="{{ asset('img/fournitureheader.jpg') }}"
                width="355px"
                alt="">
        <hr>

        <h5 class="text-center">{{ article.content|raw }}</h5>

        <h2 class="comment-title mt-5">
            <span class="comment-count">{{ article.comments|length }}</span> commentaire(s)
        </h2>

        <hr>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        

        <div class="comment-area mb-5">
                {{ form(commentForm, { 'attr': { 'class': 'comment-form' } }) }}
        </div>
        
        {% endif %}


        <div class="comment-list inline-block">
            {% for comment in article.comments %}
                {% include 'comment/index.html.twig' with [comment] %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
