{% extends 'base.html.twig' %}

{% block title %}Données personnelles de {{ user.username|capitalize }}{% endblock %}

{% block body %}

<div class="extra-space-l"></div>

<div class="container w-25">
    <div class="row">
           <h2>Profil de {{ user.username|capitalize }}</h2>
            
            <div class="col-12">
                <label for="username" class="form-label">Nom d'utilisateur</label>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" value="{{ user.username }}" readonly>
                </div>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Email :</label>
                <h5>{# {{ user.email }} #}</h5>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Prénom :</label>
                <h5>{{ user.firstName }}</h5>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Nom :</label>
                <h5>{{ user.name }}</h5>
            </div>

           {#  <div class="col-12">
                <label for="username" class="form-label">Rôle :</label>
                <h5>{{ user.roles }}</h5>
            </div> #}

            {# <div class="mb-3">
                <p>Nombre de commentaires posté : {{ user.comments|length }} </p>
            </div> #}

    </div>
</div>

<div class="extra-space-xxl"></div>


{% endblock %}
